amqp==2.2.1
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.28
djangorestframework==3.9.1
gevent==1.2.2
greenlet==0.4.12
grequests==0.3.0
gunicorn==19.7.1
datadog==0.16.0
ddtrace==0.9.1
decorator==4.1.2
idna==2.6
kombu==4.1.0
psycopg2==2.7.3
pytz==2017.2
redis==2.10.6
msgpack-python==0.4.8
requests==2.20.0
setproctitle==1.1.10
simplejson==3.11.1
urllib3==1.24.2
vine==1.1.4
wrapt==1.10.11
